src/*.exe
src/blockwallstreetcoin
src/blockwallstreetcoind
src/test_blockwallstreetcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.blockwallstreetcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
blockwallstreetcoin-qt
Blockwallstreetcoin-Qt.app

# Unit-tests
Makefile.test
blockwallstreetcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
